html
	head
	body
		include partials/menu.jade
		h3 Welcome to the Transport Hub
		form(action="/toCity", method="post")
			| Depending on your interest, I'll take you to a city
			select(required='', name='interest')
				option(value="finance") Business
				option(value='fashion') Fashion
				option(value='history') History
			input(type="submit", value="Submit")