<html>
<head>

</head>
<body>

<form method="get" action="toLanding">
    <input type="text" name = "nm" placeholder="Enter your name"></input>
    <button type = "submit" value="sign-in">Sign In</button>
</form>
Login Page
</body>
</html>