<html>
<head>

</head>
<body>
<ul>
<li><a href = "/"> Home </a></li>
<li><a href = "/london"> London </a></li>
<li><a href = "/newyork"> New York </a></li>
<li><a href = "/paris"> Paris </a></li>
<li><a href = "/newdelhi"> Delhi </a></li>

</ul>


<h1>  <%=title%>  </h1>

<h4>  <%=headline%>  </h4>

Home Page

</body>
</html>