<!DOCTYPE html>
<html lang="en">

<head>

    <title>Tech Stack</title>
    <% include partials/head.ejs %>

</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Leave the marks !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                  <code>leavethemarks</code> application is developed using popular NodeJS framework,
                  <a target="_blank" href="http://expressjs.com/">express</a>.
                  </blockquote>

                  <blockquote class="mainLines">
                    Application is powered by <a href="https://www.mongodb.org/" target="_blank">MongoDB</a> hosted on <a href="https://mongolab.com/" target="_blank">MongoLab</a>
                  </blockquote>

                  <blockquote class="mainLines">
                  Surely we are not going to miss  <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> which provides the application its cool look.
                  </blockquote>

                  <blockquote class="mainLines">
                  Last but not the least, thanks to <a href="https://pradeepanbagally.github.io/" target="_blank">Pradeepa</a> for designing the logo
                  </blockquote>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <% include partials/jsIncludes.ejs %>

</body>

</html>
