html
	head
		include partials/head.jade
	body
		block content
			.container
				form.form-signin(action="/toLanding", method="GET")
					h2.form-signin-heading Please Sign in
						input.input-block-level(type="text", name="nm", placeholder="User Name")
						input.input-block-level(type="password", name="password", placeholder="Password")
						button.btn.btn-large.btn-primary(type="submit") Sign in
						